<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="splash.css">
	<style>
		body {
			background-image: url("../../icons/desktop-launch-background.png");
			background-size: cover;
			-webkit-app-region: drag;
		}
	</style>
</head>

<body>
	<div class="main">
		<!-- <div class="waves-section">
			<div class="waves">
				<div class="wave1"></div>
				<div class="wave2"></div>
				<div class="wave3"></div>
			</div>
		</div> -->
		<!-- <div class="headphones">
			<img src="../../icons/headphones.png" />
		</div> -->
		<div class="logo">
			<img src="../../icons/anghami-logo-new.png" />
		</div>
		<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
	</div>
</body>

</html>